<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MORKER-招贤纳士</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/css.css') }}">
</head>
<body>
    <!-- 网页页头 -->
{#    <div class="box1">#}
        <div class="top-head">
            <ul class="left-entry">
                <li class="v-popover-wrap"><a href="/"><img src="{{ url_for('static', filename='imgs/source/head/head.jpg') }}"
                            style="margin-top: 10px; margin-left: 10px;"></a></li>
                <li class="v-popover-wrap"><span><a href="/login">立即体验</a></span></li>
{#                <li class="v-popover-wrap"><span><a href="">登录</a></span></li>#}
                <li class="v-popover-wrap"><span><a href="/contact">招贤纳士</a></span></li>
            </ul>
        </div>
{#    </div>#}
    <div class="searchingpage" style="height: 1000px;">
        <br><br><br><br>
        <div class="title">欢迎联系PictureHub!</div>
        <br>
        <div class="write" style="text-align: left; font-size: 30px">&nbsp&nbsp&nbsp&nbsp您可以通过以下方式联系到这个网站的制作者：</div>
        <br><br>
        <table class="write" style="text-align: left; font-size: 30px; font-family:heiti">
            <tbody>
                <tr><th>&nbsp&nbsp&nbsp&nbsp制作者：蒋玮杰 上海海事大学</th></tr>
                <tr><th>&nbsp&nbsp&nbsp&nbsp邮箱：202110310195@shmtu.edu.cn 或者 2196607709@qq.com</th></tr>
                <tr><th>&nbsp&nbsp&nbsp&nbsp电话：+86 13917734176</th></tr>
                <tr><th>&nbsp&nbsp&nbsp&nbspGithub：Flammmming</th></tr>
                <tr><th>&nbsp&nbsp&nbsp&nbsp地址：中国上海浦东新区海港大道1550号 <a href="https://www.shmtu.edu.cn">上海海事大学</a> <a href="https://cie.shmtu.edu.cn/">信息工程学院</a></th></tr>
            </tbody>
        </table>
        <br><br><br><br>
        <div class="title">Thank you for your contact!</div>
        <br>
        <div class="write" style="text-align: left; font-size: 30px">&nbsp&nbsp&nbsp&nbspYou can use the following information to get contact with the contributor:</div>
        <br><br>
        <table class="write" style="text-align: left; font-size: 30px; font-family:heiti">
            <tbody>
                <tr><th>&nbsp&nbsp&nbsp&nbspContributor: Weijie Jiang. Shanghai Maritime University</th></tr>
                <tr><th>&nbsp&nbsp&nbsp&nbspMail: 202110310195@shmtu.edu.cn or 2196607709@qq.com</th></tr>
                <tr><th>&nbsp&nbsp&nbsp&nbspTelephone: +86 13917734176</th></tr>
                <tr><th>&nbsp&nbsp&nbsp&nbspGithub: Flammmming</th></tr>
                <tr><th>&nbsp&nbsp&nbsp&nbspAdderss: Harbour Road 1550. Pudong New District. Shanghai. China</th></tr>
                <tr><th><a href="https://www.shmtu.edu.cn">&nbsp&nbsp&nbsp&nbspAddress Name: College of Information and Engineering in Shanghai Maritime University</a></th></tr>
            </tbody>
        </table>
    </div>
</body>
</html>