<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MORKER-开始！</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/DIY.css') }}">
</head>
{% import "bootstrap/wtf.html" as wtf %}
<body>
<div class="top-head">
    <ul class="left-entry">
        <li class="v-popover-wrap"><a href="/"><img
                src="{{ url_for('static', filename='imgs/source/head/head.jpg') }}"
                style="margin-top: 10px; margin-left: 10px;"></a></li>
        <li class="v-popover-wrap"><span>用户：{{ username }}</span></li>
        {#
        <li class="v-popover-wrap"><span><a href="">登录</a></span></li>
        #}
        <li class="v-popover-wrap"><span><a href="/history/{{ username }}">我的历史</a></span></li>
    </ul>
</div>
<div class="diypage" style="height: 100%;">
    <br><br><br><br><br><br>
    <div>批量生产书法作品文字（当前墨客默认文字方向是从上到下，从右到左）</div>
    <!--    <div class="generation"></div>-->
    <br>
    <!--    <div class="edit-picture">-->
    <!--         {% for image in picture_path %}-->
    <!--            <img src="{{ url_for('static', filename='data/202110310195/Short_Skeleton/0.jpg') }}">-->
    <!--        {% endfor %}-->
    <!--        <img class="edit-picture" src = "{{ url_for('static', filename='Temp_Skeleton/0.jpg') }}" >-->
    <!--    </div>-->
    <br>
    <h2 class="line-diy"></h2>
    <div class="canvas_box">
        <canvas id="c1" class="canvas_position">
            当前canvas不支持
            <a href="https://www.google.cn/intl/zh-CN/chrome/">立即下载</a>
        </canvas>
        <div class="canvas_operation">
            <!--            这个地方选择对图片的操作            -->
            <div class="writing-style1">笔画操作选项<br>这里建议先微调，再桥接骨架，再检查方向，最后设置笔画顺序</div>
            <ul class="ul-style">
                <li>
                    <input type="radio" name="modify" value="action1">单像素骨架调整</input>
                </li>
                <li>
                    <input type="radio" name="modify" value="action2">骨架桥接</input>
                </li>
                <li>
                    <input type="radio" name="modify" value="action3">笔画方向倒置</input>
                </li>
                <li>
                    <input type="radio" name="modify" value="action4">笔画顺序指定</input>
                </li>
            </ul>
            <div class="writing-style2">整体操作</div>
            <div class="ul-style2">
                <button class="btn" name="operation">撤销上一个操作</button>
            </div>
            <div class="ul-style3">
                <button class="btn" name="operation">重置当前制作</button>
            </div>
            <div class="ul-style4">
                <button class="btn" name="operation">上传骨架生成视频</button>
            </div>
        </div>
    </div>
</div>
<!--    &lt;!&ndash;    外部引入js    &ndash;&gt;-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/DIY.js') }}"></script>-->
</body>


<script>
    const N = 100;
    const pixel_size = 8;
    // 读取后端已经存储好的数据
    var Stroke_Data_String = '{{ Stroke_Map.tolist() }}';
    let cnt = 0;
    // 这里存放的是本次扫描的所有文字的map
    Stroke_Data_Full = Stroke_Data_String.substring(1, Stroke_Data_String.length - 1).split(',').map(str => parseInt(str));
    var k = Stroke_Data_Full / N * N;
    // 显示画板
    // 100 * 100 的像素点map，在初始状态下，我们需要导入后台的短笔画
    let map = Array(N).fill().map(() => Array(N));
    let canvas = document.getElementById("c1");
    let ctx = canvas.getContext("2d");
    canvas.width = N * pixel_size;
    canvas.height = N * pixel_size;

    init();
    // let buttonList = document.getElementById("button");
    // buttonList.addEventListener('click', function (event) {
    //     if (event.target.tagName == )
    // }

    var radioButtons = document.querySelectorAll('input[type="radio"][name="modify"]');
    radioButtons.forEach(function (radioButton) {
        radioButton.addEventListener('click', function() {
            switch(this.value) {
                case 'action1':
                    // console.log("执行1号");
                    canvas.addEventListener('click', detect);
                    break;
                case 'action2':
                    canvas.removeEventListener('click', detect);
                    console.log("执行2号");
                    break;
                case 'action3':
                    canvas.removeEventListener('click', detect);
                    console.log("执行3号");
                    break;
                case 'action4':
                    canvas.removeEventListener('click', detect);
                    console.log("执行4号");
                    break;
            }
        })
    })
    // 添加事件
    // canvas.addEventListener("click", detect);

    function init() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for (let i = 0; i < N; i++) {
            for (let j = 0; j < N; j++) {
                ctx.beginPath();
                ctx.rect(pixel_size * i, pixel_size * j, pixel_size, pixel_size);
                if (Stroke_Data_Full[cnt] === 0) {
                    map[i][j] = 0;
                    // 这里是笔画
                    ctx.fillStyle = "#000000";
                } else if (Stroke_Data_Full[cnt] === 128) {
                    map[i][j] = 128;
                    // 这里是背景
                    ctx.fillStyle = '#808080';
                } else {
                    // 这里是骨架
                    map[i][j] = 255
                    ctx.fillStyle = '#ffffff';
                }
                cnt++;
                ctx.fill();
            }
        }
    }

    function draw(x, y) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        if (map[Math.floor(x / pixel_size)][Math.floor(y / pixel_size)] !== 128)
            map[Math.floor(x / pixel_size)][Math.floor(y / pixel_size)] = 255 - map[Math.floor(x / pixel_size)][Math.floor(y / pixel_size)];
        generate_current_picture();
    }

    function generate_current_picture() {
        for (let i = 0; i < N; i++) {
            for (let j = 0; j < N; j++) {
                ctx.beginPath();
                ctx.rect(pixel_size * i, pixel_size * j, pixel_size, pixel_size);
                if (map[i][j] === 255) {
                    ctx.fillStyle = '#ffffff';
                } else if (map[i][j] === 0) {
                    ctx.fillStyle = '#000000';
                } else {
                    // 如果是背景，则不需要交互
                    ctx.fillStyle = '#808080';
                }
                ctx.fill();
            }
        }
    }

    // 获取鼠标位置函数，用来触发事件
    function detect(event) {
        // 鼠标点击，获取(x, y)位置
        let x = event.clientX - canvas.getBoundingClientRect().left;
        let y = event.clientY - canvas.getBoundingClientRect().top;
        draw(x, y);
    }

    // };
</script>
</html>
