<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MORKER-开始！</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/DIY.css') }}">
    <style>
        input {
            width: 20px;
            height: 20px;
        }

        .diypage {
            position: fixed;
            width: 100%;
            height: 100%;
            /*background-image: linear-gradient(to right,  #ffffff, #fd3f3f);*/
            background-image: url("imgs/background/background_for_signup.jpg");
            background-size: cover;
        }
    </style>
</head>
{% import "bootstrap/wtf.html" as wtf %}
<body>
<div class="top-head">
    <ul class="left-entry">
        <li class="v-popover-wrap"><a href="/"><img
                src="{{ url_for('static', filename='imgs/source/head/head.jpg') }}"
                style="margin-top: 10px; margin-left: 10px;"></a></li>
        <li class="v-popover-wrap"><span><a href="/">首页</a></span></li>
        <li class="v-popover-wrap"><span><a href="/login">立即体验</a></span></li>
        <li class="v-popover-wrap"><span><a href="/more_info">了解更多</a></span></li>
        <li class="v-popover-wrap"><span><a href="/masterpiece">成品展示</a></span></li>
        <li class="v-popover-wrap"><span><a href="/contact">招贤纳士</a></span></li>
        <li class="v-popover-wrap"><span>用户：{{ username }}</span></li>
    </ul>

</div>
<div class="diypage" style="height: 100%;">
    <br><br><br><br><br>
    <div>骨架微调操作</div>
    <!--    <div class="generation"></div>-->
    <!--    <div class="edit-picture">-->
    <!--         {% for image in picture_path %}-->
    <!--            <img src="{{ url_for('static', filename='data/202110310195/Short_Skeleton/0.jpg') }}">-->
    <!--        {% endfor %}-->
    <!--        <img class="edit-picture" src = "{{ url_for('static', filename='Temp_Skeleton/0.jpg') }}" >-->
    <!--    </div>-->
    <h2 class="line-diy"></h2>
    <div class="canvas_box">
        <canvas id="c1" class="canvas_position">
            当前canvas不支持
            <a href="https://www.google.cn/intl/zh-CN/chrome/">立即下载</a>
        </canvas>
        <div class="canvas_operation">
            <!--            这个地方选择对图片的操作            -->
            <div class="writing-style1">骨架操作选项<br>请注意，操作骨架的时候请不要将骨架堆叠，否则难以生成正确的笔画方向
            </div>
            <ul class="ul-style">
                <li>
                    <label>
                        <input type="radio" name="modify" value="action1" id="a1">
                    </label>单像素骨架调整
                </li>
                <li>
                    <label>
                        <input type="radio" name="modify" value="action6" id="a6">
                    </label>骨架添加
                </li>
                <!--                <li>-->
                <!--                    <label>-->
                <!--                        <input type="radio" name="modify" value="action2">-->
                <!--                    </label>骨架桥接设置-->
                <!--                </li>-->
                <li>
                    <label>
                        <input type="radio" name="modify" value="action3" id="a3">
                    </label>骨架删除
                </li>
                <!--                <li>-->
                <!--                    <label>-->
                <!--                        <input type="radio" name="modify" value="action4">-->
                <!--                    </label>笔画方向(请务必设置)-->
                <!--                </li>-->
                <!--                <li>-->
                <!--                    <label>-->
                <!--                        <input type="radio" name="modify" value="action5">-->
                <!--                    </label>笔画顺序指定(请务必设置)-->
                <!--                </li>-->
            </ul>
            <div class="writing-style2">整体操作</div>
            <div class="ul-style2">
                <button class="btn" name="operation" id="roll_back">撤销上一个操作(Ctrl+Z)</button>
            </div>
            <div class="ul-style6">
                <button class="btn" name="operation" id="reset">重置当前制作(Ctrl+R)</button>
            </div>
            <div class="ul-style3">
                <button class="btn" name="operation" id="generate_stroke">笔画方向顺序指定</button>
            </div>
            <div class="ul-style5">
                <button class="btn" name="operation" id="next">下一张</button>
            </div>
            <div class="ul-style4">
                <button class="btn" name="operation" id="upload">上传骨架，生成视频(Ctrl+Y)</button>
            </div>
        </div>
    </div>
</div>
<!--    &lt;!&ndash;    外部引入js    &ndash;&gt;-->
</body>
<script>
    let Stroke_Data_String = '{{ Stroke_Map.tolist() }}';
    let Username = '{{ username }}';
    let PictureName = '{{ PictureName }}';
</script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='js/require.js') }}"></script>-->
<script type="text/javascript" src="{{ url_for('static', filename='js/DIY.js') }}"></script>

<!--<script>-->

<!--</script>-->
</html>
